#mapka {
    width: auto;
    height: 500px
}

#map .text-center{
    margin-top: 30px;
}

/*Design mapy iframe*/

#iframeMap {
    border:0;
    width: 1000px;
    height: 500px;
    margin-left: 10%;
}

@media screen and (max-width: 1400px){
    #iframeMap {
        width: 900px;
        margin-left: 10%;
    }
}

@media screen and (max-width: 1200px){
    #iframeMap {
        width: 800px;
        margin-left: 8%;
    }
}

@media screen and (max-width: 992px){
    #iframeMap {
        width: 600px;
        margin-left: 8%;
    }
}
@media screen and (max-width: 768px){
    #iframeMap {
        width: 500px;
        margin-left: 2%;
    }
}

@media screen and (max-width: 576px){
    #iframeMap {
        width: 500px;
        margin-left: 1%;
    }
}

/*Style formularzy*/

table{
    font-family: 'Anton', sans-serif;
}
label {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8em;
    color: #ffc800;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.form_plain_text {
    color: #ecf0f3;
}

.design-form label, input, button {
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.design-field-form {
    margin-left: 20px;
    margin-right: 20px;
    background: #ecf0f3;
    padding-top: 8px;
    padding-left: 10px;
    height: 35px;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

#countryField {
    margin-left: 20px;
}

.linear-design label, input, button{
    font-size: 15px;
}
.design-btn {
    color: white;
    margin: 20px;
    background: #ffc800;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 900;
    padding: 10px 30px;
    transition: 0.5s;
}

.design-btn:first-of-type{
    margin-left: 20%;
}

@media screen and (min-width: 1200px){
    .design-btn:first-of-type{
        margin-left: 34%;
    }
}

#formularz {
    display: flex;
    justify-content: center;
    align-items: center;
}

#formularz table {
    border-radius: 8px;
    padding: 20px !important;
    background: #2c2c2c;
}

#countryField {
    width: 220px;
}

tbody .czerwone {
    visibility: hidden;
    color: #ff0000 !important;
    margin-left: 30px;
}

table tr label:first-of-type{
    margin-left: 15px;
}

table tr p:first-of-type{
    margin-left: 15px;
}

#milkaField {
    margin-left: 15px;
}

table tr p{
    margin-bottom: 0;
}


/*Koniec stylów formularzy*/

/*Style dla obecnej pogody*/

.weatherBlock{
    width: 300px;
    background-color: #2c2c2c;

    display: block;
    margin: 0 auto;

    border-radius: 10px;
    padding-bottom : 50px;

    -webkit-box-shadow: 8px 8px 24px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -11px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -11px rgba(66, 68, 90, 1);
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #ffffff;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 310px;
    background-color: #F4F9FF;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height: 100px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #2c2c2c;
    font-size: 4em;
    text-align: center;
}


.temperature-value span{
    color: #2c2c2c;
    font-size: 0.5em;
}


.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #2c2c2c;
    text-align: center;
    font-size: 1.2em;
}

.location p{
    margin: 0;
    padding: 0;
    color: #2c2c2c;
    text-align: center;
    font-size: 0.8em;
}

.candyPermission{
    margin-top: 40px;
    margin-bottom: 0;
}

/*Koniec stylów dla obecnej pogody*/



